.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colors-transparent);
    padding: 10px 20px;
    border-radius: var(--borderRadius-full);
    box-shadow: 0px 4px 5px var(--colors-brand-onPrimaryContainer);
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: var(--fontSize-xl);
    max-width: 300px;
    min-width: max-content;
}

.is-block {
    width: 100%;
}

.button:hover {
    filter: brightness(0.9);
    ;
}

.button:active {
    filter: brightness(1.1);
    box-shadow: none;
}

.type-primary {
    background: var(--colors-brand-primaryContainer);
    color: var(--colors-brand-onPrimaryFixedVariant);
}

.type-secondary {
    background: var(--colors-transparent);
    color: var(--colors-brand-primary);
    border: 1px solid var(--colors-brand-primary);
}

.type-tertiary {
    background: var(--colors-transparent);
    color: var(--colors-brand-primary);
    box-shadow: var(--shadows-none);
    padding: 0;
    border-bottom: 1px solid var(--colors-brand-primary);
    border-radius: var(--borderRadius-none);
}