.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colors-transparent);
    padding: 10px 20px;
    border-radius: var(--border-radius-full);
    box-shadow: 0px 4px 5px var(--colors-brand-white-blue);
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: var(--font-size-2xl);
    max-width: 300px;
    width: 100%;
    min-width: max-content;
}

.is-block {
    width: 100%;
}

.button:hover {
    filter: brightness(0.9);
}

.button:active {
    filter: brightness(1.1);
}

.type-primary {
    background: var(--colors-brand-medium-blue);
    color: var(--colors-white);
}

.type-secondary {
    background: var(--colors-transparent);
    color: var(--colors-brand-medium-blue);
    border: 1px solid var(--colors-brand-medium-blue);
}

.type-tertiary {
    background: var(--colors-transparent);
    color: var(--colors-brand-medium-blue);
    box-shadow: var(--shadows-none);
    padding: 0;
    border-bottom: 1px solid var(--colors-brand-medium-blue);
    border-radius: var(--border-radius-none);
}