:root {
	--colors-brand-primary:#725C0C;
	--colors-brand-surface-tint:#725C0C;
	--colors-brand-on-primary:#FFFFFF;
	--colors-brand-primary-container:#FFE089;
	--colors-brand-on-primary-container:#241A00;
	--colors-brand-secondary:#904A4A;
	--colors-brand-on-secondary:#FFFFFF;
	--colors-brand-secondary-container:#FFDAD8;
	--colors-brand-on-secondary-container:#3B080C;
	--colors-brand-tertiary:#475D92;
	--colors-brand-on-tertiary:#FFFFFF;
	--colors-brand-tertiary-container:#D9E2FF;
	--colors-brand-on-tertiary-container:#001945;
	--colors-brand-error:#BA1A1A;
	--colors-brand-on-error:#FFFFFF;
	--colors-brand-error-container:#FFDAD6;
	--colors-brand-on-error-container:#410002;
	--colors-brand-background:#FFF8F0;
	--colors-brand-on-background:#1F1B13;
	--colors-brand-surface:#FFF8F0;
	--colors-brand-on-surface:#1F1B13;
	--colors-brand-surface-variant:#EBE1CF;
	--colors-brand-on-surface-variant:#4C4639;
	--colors-brand-outline:#7D7667;
	--colors-brand-outline-variant:#CFC6B4;
	--colors-brand-shadow:#000000;
	--colors-brand-scrim:#000000;
	--colors-brand-inverse-surface:#343027;
	--colors-brand-inverse-on-surface:#F8F0E2;
	--colors-brand-inverse-primary:#E2C46D;
	--colors-brand-primary-fixed:#FFE089;
	--colors-brand-on-primary-fixed:#241A00;
	--colors-brand-primary-fixed-dim:#E2C46D;
	--colors-brand-on-primary-fixed-variant:#574500;
	--colors-brand-secondary-fixed:#FFDAD8;
	--colors-brand-on-secondary-fixed:#3B080C;
	--colors-brand-secondary-fixed-dim:#FFB3B1;
	--colors-brand-on-secondary-fixed-variant:#733334;
	--colors-brand-tertiary-fixed:#D9E2FF;
	--colors-brand-on-tertiary-fixed:#001945;
	--colors-brand-tertiary-fixed-dim:#B0C6FF;
	--colors-brand-on-tertiary-fixed-variant:#2F4578;
	--colors-brand-surface-dim:#E1D9CC;
	--colors-brand-surface-bright:#FFF8F0;
	--colors-brand-surface-container-lowest:#FFFFFF;
	--colors-brand-surface-container-low:#FBF3E5;
	--colors-brand-surface-container:#F5EDDF;
	--colors-brand-surface-container-high:#EFE7D9;
	--colors-brand-surface-container-highest:#EAE1D4;
	--colors-transparent:transparent;
	
	--font-size-xs:0.75rem;
	--font-size-sm:0.875rem;
	--font-size-base:1rem;
	--font-size-lg:1.125rem;
	--font-size-xl:1.25rem;
	
	--border-radius-none:0;
	--border-radius-sm:0.125rem;
	--border-radius-md:0.25rem;
	--border-radius-lg:0.5rem;
	--border-radius-full:9999px;
	
	--shadows-outline:0 0 0 3px rgba(66, 153, 225, 0.5);
	--shadows-none:none;
	
	--shadows-down-sm:0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadows-down-md:0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadows-down-lg:0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadows-down-xl:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--shadows-down-2xl:0 25px 50px -12px rgba(0, 0, 0, 0.25);
	--shadows-down-inner:inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	
	--shadows-up-sm:0 -1px 3px 0 rgba(0, 0, 0, 0.1), 0 -1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadows-up-md:0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadows-up-lg:0 -10px 15px -3px rgba(0, 0, 0, 0.1), 0 -4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadows-up-xl:0 -20px 25px -5px rgba(0, 0, 0, 0.1), 0 -10px 10px -5px rgba(0, 0, 0, 0.04);
	--shadows-up-2xl:0 -25px 50px -12px rgba(0, 0, 0, 0.25);
	--shadows-up-inner:inset 0 -2px 4px 0 rgba(0, 0, 0, 0.06);
}